@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.form-register {
  min-height: 100vh;
  background: url("../img/bg-form.jpg");
  background-position: center;
  background-size: cover;
}
.form-register .form-register-container {
  /* background-color: red; */
  max-width: 1170px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-register .form-register-box {
  width: 500px;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
  padding: 30px 50px;
}
.form-register .form-register-box img {
  width: 300px;
  height: 50%;
}
.form-register .input-group {
    margin: 10px 0;
}
.form-register .input-control {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  font-size: 17px;
  margin: 10px 0;
  border-radius: 30px;
  border: none;
  outline: none;
}
.form-register input[type="text"].input-control {
  background-color: #eaeaea;
  color: #BBB5B5;
}
.form-register button.input-control {
  width: 45%;
  color: #ffffff;
  background-color: #00b1cd;
  font-weight: 700;
  cursor: pointer;
}

@media(max-width: 600px){
    .form-register .form-register-box {
        width: 400px;
    }
}